.logout {
  width: 50%;
  margin: 10px auto;
  background: #e96c6c;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.logout-button {
  text-align: center;
}

.logout-button ion-icon {
  margin-right: 10px;
  font-size: 20px;
}
