.list {
    float: left;
    width: 46%;
    margin-right: 4%;
    overflow: hidden;
    height: 220px;
    margin-bottom: 4%;
    position: relative;
}

.thumbnail {
    height: 100%;
    width: 100%;
    background: #111;
    overflow: hidden;
}

.list img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

ion-list {
    overflow: hidden;
    width: 104%;
}

.content h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
}