<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List Anime Jojo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <div class="list">
      <div class="thumbnail">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/JoJo_Part_1_Phantom_Blood.jpg/250px-JoJo_Part_1_Phantom_Blood.jpg">
      </div>
      <div class="content">
        <h3>Jonathan joestar</h3>
      </div>
    </div>

    <div class="list">
      <div class="thumbnail">
        <img src="https://i.redd.it/ypuy3qvglco21.jpg">
      </div>
      <div class="content">
        <h3>joseph joestar</h3>
      </div>
    </div>

    <div class="list">
      <div class="thumbnail">
        <img src="https://vignette.wikia.nocookie.net/jjba/images/9/99/KujoAnime.png/revision/latest?cb=20161029182608">
      </div>
      <div class="content">
        <h3>Jotaro Joestar</h3>
      </div>
    </div>

    <div class="list">
      <div class="thumbnail">
        <img
          src="https://vignette.wikia.nocookie.net/jjba/images/2/24/JosukeAnime.PNG/revision/latest/scale-to-width-down/347?cb=20171212081940">
      </div>
      <div class="content">
        <h3>Josuke Joestar</h3>
      </div>
    </div>

    <div class="list">
      <div class="thumbnail">
        <img
          src="https://vignette.wikia.nocookie.net/jjba/images/1/1e/GiornoAV.png/revision/latest/scale-to-width-down/350?cb=20190412003136">
      </div>
      <div class="content">
        <h3>Giorno Giovanna</h3>
      </div>
    </div>

    <div class="list">
      <div class="thumbnail">
        <img src="https://i.redd.it/qds9n8q4z0w21.jpg">
      </div>
      <div class="content">
        <h3>Jolyne Kujo</h3>
      </div>
    </div>

  </ion-list>
</ion-content>